<div class="top-picks">
    <div class="title">
        <h1>TOP PICKS</h1>
    </div>
    <div class="picks">
      <div class="line"></div>
    <div class="pick1 pick">
        <img src="../../../assets/cafe.svg" alt="">
        <h3>Cafes</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut odit autem accusantium incidunt nesciunt maiores, praesentium harum optio eligendi, nostrum veniam in repellat odio temporibus ad adipisci omnis id fuga.</p>
        <button>Explore</button>
    </div>
    <div class="pick2 pick">
        <img src="../../../assets/restaurant.svg" alt="">
        <h3>Restaurants</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, culpa porro eum magni in nemo deleniti ratione natus rem. Voluptates quaerat totam sint ab rerum corporis eveniet asperiores quas nobis! Voluptates quaerat!</p>
        <button>Explore</button>
    </div>
    <div class="pick3 pick">
        <img src="../../../assets/shopping.svg" alt="">
        <h3>Shopping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nihil iusto, non similique ipsum cum repellat, magnam beatae quod provident excepturi iure voluptate eligendi eius rerum quibusdam quis facere aut!</p>
        <button>Explore</button>
    </div>
      <div class="line"></div>
    </div>
</div>
